<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Send Requests To Public/index.php ...
    RewriteRule ^(.*)$ public/$1 [L]

</IfModule>

